.container.main {
  padding-top: 5em;
}

.ui.header:first-child {
  margin: .3em 0 1em;
}

.ui.large.header-show {
  margin-top: .2em;
  margin-bottom: 1em;
}

.ui.horizontal.divider-show {
  margin-bottom: 1.2em;
}

i.icon, .ui.divider>.icon {
  font-size: 1.8em;
}

i.plus {
  margin: 0;
}

i.icon.chevron.right:before {
  font-size: 16px;
}

.column {
  margin-top: 2.5em;
  padding-left: 1rem;
}

.post-delete {
  display: inline-block;
}
